<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css?v=20160627" />
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css?v=20160627" />
    <link rel="stylesheet" type="text/css" href="__CSS__/tk.css?v=20160628" />
    <link rel="stylesheet" type="text/css" href="__CSS__/date.css?v=20160627" />
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js?v=20160627"></script>
    <script type="text/javascript" src="__JS__/public.js?v=20160627"></script>
    <script type="text/javascript" src="__JS__/jq.js?v=20160627"></script>
</head>
<body style="background-color: #ededed;" onload="myfun()">
<!--header开始-->
<div class="header_">
    <div class="header_w">
        <div class="header_l">
            <div class="logo_">
                <img src="__IMG__/logo.png"/>
            </div>
            <ul>
                <!-- <foreach name="lists" item="vo">
                {$vo['name']}
                <li  class="a_0" style="display: none;" id ="{$vo['action'][1]}"><a href="{:U('Home/Company/index')}">{$vo['name']}</a></li>
                </foreach> -->
                <!-- <span>{$vo['name']}</span> -->
                <!--默认颜色的按钮是a_1之a_4 蓝色的是al_1之al_4-->
                
                <notempty name="infos">
                <li  class="a_7" id="a_7_1">
                    <a class="a_z" id="a_z">业务流程</a>
                    <div class="id_div" style="" id="id_div_1">
                    <foreach name="infos" item="v">
                        <if condition="$v['name'] eq '到单操作'">
                        <a href="{:U('Home/Business/daodan')}">到单操作</a>
                        </if>
                        <if condition="$v['name'] eq '报检操作'">
                        <a href="{:U('Home/Business/baojian')}">报检操作</a>
                        </if>
                        <if condition="$v['name'] eq '报关操作'">
                        <a href="{:U('Home/Business/baoguan')}">报关操作</a>
                        </if>
                        <if condition="$v['name'] eq '约上线操作'">
                        <a href="{:U('Home/Business/ysx')}">约上线操作</a>
                        </if>
                        <if condition="$v['name'] eq '输号操作'">
                        <a href="{:U('Home/Business/shuhao')}">输号操作</a>
                        </if>
                        <if condition="$v['name'] eq '客户代表'">
                        <a href="{:U('Home/Manager/index')}">客户代表</a>
                        </if>
                        <if condition="$v['name'] eq '贸易公司管理'">
                        <a href="{:U('Home/Company/index')}">贸易公司管理</a>
                        </if>
                    </foreach> 
                    </div>
                    
                </li>
                </notempty>
                <notempty name="lists">
                <li  class="a_7" id="a_7" >
                    <a class="a_z">配置管理</a>
                    <div class="id_div" style="" id="id_div">
                    <foreach name="lists" item="vo">
                        <if condition="$vo['name'] eq '权限管理'">
                        <a href="__zlc__/Home/Role/select.html?did=4">权限管理</a>
                        </if>
                        <if condition="$vo['name'] eq '报表统计'">
                        <a href="{:U('Home/Business/index')}">报表统计</a>
                        </if>
                        <if condition="$vo['name'] eq '操作日志'">
                        <a href="{:U('Home/Logs/logs')}">操作日志</a>
                        </if>
                        <if condition="$vo['name'] eq '公司管理'">
                        <a href="{:U('Home/Company/index')}">公司管理</a>
                        </if>
                        <if condition="$vo['name'] eq '贸易公司管理'">
                        <a href="{:U('Home/Manager/mylist')}">贸易公司管理</a>
                        </if>
                    </foreach>
                    </div>

                </li>

                </notempty>

            </ul>
        </div>
        <div class="header_r">
            <form action="{:U('Home/Business/baoguan')}" method="post">
                <div class="sousuo_" style="">
                    <input class="in_" value="" type="text" name="search_cjh" id="search_cjh" placeholder="输入车架号后五位">
                    <input value="3" type="hidden" name="stage" id="stage" >
                    <input class="in_r" value="" type="submit">
                </div>
            </form>
            <div class="div_">
                <div class="tx_1">
                    <div class="tx_">
                        <img src="__IMG__/tx.png" />
                    </div>
                    <div>{$user_name}</div>
                    <div class="hover_">
                        <p class="p_1"><a href="{:U('Home/Index/password')}">个人设置</a></p>
                        <p class="p_2"><a href="{:U('Home/Login/logout')}">退出</a></p>
                    </div>
                </div>
                <script>
                    $(function(){
                        $(".div_ .hover_ p").click(function(){
                            var href_=$(this).find("a").attr("href");
                            window.location.href=href_;
                        })
                    })
                </script>
            </div>
        </div>
    </div>

</div>
<!--header结束-->
<script>

    $(function(){

        $(".yewu_630_7 .liyw_1 a").hover(function(){
            $(".liyw_1").find(".hover_cs").remove();
            var qufen=$(this).parent().parent("ul").attr("id");
            var id_1= $(this).parent().attr("id");
            var this_t=$(this);
            var wid_=$(this).width()
            t = setTimeout(function(){



                if($(".hover_cs").size()==0){


                    $.ajax({

                        url:"{:U('Home/Business/slshuhao')}",
                        data:{"id":id_1},
                        type:'post',
                        success:function(text){



                            var json = eval("("+text+")");

                            if(json){



                                this_t.append(

                                        '<div class="hover_cs" style="display: block" >'+
                                        '<p class="pp_1">公司基本信息</p>'+
                                        '<p class="pp_2"><a class="aaa_">公司名称: </a><a> '+json.name+'</a></p>'+
                                        '<p class="pp_2"><a class="aaa_">公司法人: </a> <a> '+json.legal_person+'</a></p>'+
                                        '<p class="pp_2"><a class="aaa_">公司管理员: </a> <a> '+json.user_name+'</a></p>'+
                                        ' </div>'

                                )
                                this_t.find(".hover_cs").css("margin-left",wid_+"px");

                            }else{


                                alert("未查到对应的数据");
                            }

                        }



                    })
                }  else{
                    $(this).find(".hover_cs").remove();
                }
                //$(this).find(".hover_cs").show();
            },300);
        },function(){
            clearTimeout(t);
            $(this).find(".hover_cs").hide();
            $(this).find(".hover_cs").remove();
        })

    //11
        $(".yewu_630_7 .liyw_2 a").hover(function(){


            var qufen=$(this).parent().parent("ul").attr("id");

            var id_2= $(this).parent().attr("id");

            var this_t=$(this);
            var wid_=$(this).width()
            t = setTimeout(function(){

                $.ajax({

                    url:"{:U('Home/Business/slshuhaos')}",
                    data:{"id":id_2,"did":qufen},
                    type:'post',
                    success:function(text){



                        var json = eval("("+text+")");

                        if(json){




                            $(".liyw_2").find(".liyw_2_tk").remove();
                            this_t.append(

                                    '<div class="liyw_2_tk" style="display: block;" >'+
                                    '<div class="sanjiao_"></div>'+

                                    '<div class="liyw_2_tk_t">车辆基本信息</div>'+
                                    '<div class="liyw_2_tk_c">'+
                                    '<ul>'+
                                    '<li>'+
                                    '<a class="a_i">品名:</a>'+
                                    '<a>'+json.product_name+'</a>'+
                                    '</li>'+
                                    ' <li>'+
                                    ' <a class="a_i">颜色:</a>'+
                                    ' <a>'+json.color+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">品名:</a>'+
                                    '<a>'+json.product_name+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    ' <a class="a_i">单价:</a>'+
                                    ' <a>'+json.price+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">车架号:</a>'+
                                    '<a>'+json.frame_number+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">座位数</a>'+
                                    ' <a>'+json.number_seats+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    ' <a class="a_i">型号:</a>'+
                                    '<a>'+json.kinds+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    '<a class="a_i">轮毂尺寸:</a>'+
                                    '<a>'+json.size+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">生产日期:</a>'+
                                    '<a>'+json.production_date+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    '<a class="a_i">发动机号:</a>'+
                                    '<a>'+json.engine_number+'</a>'+
                                    ' </li>'+
                                    '</ul>'+
                                    '</div>'+
                                    '<div class="liyw_2_tk_t">车辆配置信息</div>'+
                                    '<div class="liyw_2_tk_p">'+




                                    ' </div>'+
                                    '</div>'
                            )

                            var json2 = json.data;

                            $.each(json2,function(a,t){

                                this_t.find(".liyw_2_tk_p").append(
                                        '<div>'+t.name+'</div>'

                                )

                            })
                            this_t.find(".liyw_2_tk").css("margin-left",wid_+10+"px");
                        }else{


                            alert("未查到对应的数据");
                        }

                    }



                })

                //$(this).find(".hover_cs").show();

            },300);
        },function(){
            clearTimeout(t);

            $(".liyw_2 .liyw_2_tk").remove()


        })
    })



</script>
<!--header开始-->

<!--header结束-->
<!--center开始-->
<div class="center_">


    <div class="kehu_628">
        <div class="center_top">
            <a class="maoyi_">待处理工作</a>
            <!-- <a class="more_" onclick="wwc()">更多</a> -->
        </div>
        <div class="bg_ej">

            <ul class="yewu_630">
                <li class="liyw_1">贸易公司名称</li>
                <li class="liyw_2">车架号</li>
                <li class="liyw_3">关键事项及时间节点</li>
                <li class="liyw_4">备注信息</li>
            </ul>

            <volist name="list" id="vo">
            <ul class="yewu_630_ yewu_630_7" id="qufen_1">
                <li class="liyw_1" id ="{$vo.id}"><a>{$vo.name}</a></li>
                <li class="liyw_2" id ="{$vo.info_id}"><a>{$vo.frame_number}</a></li>
                <li class="liyw_3">
                    <div>
                        <span <if condition="$vo['sh_return_record'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>回号:</span>
                        <span class=" class_ span_2"><input type="text" disabled="disabled" id="bg_srr" name="sh_return_record" value="{$vo.sh_return_record}" disabled="disabled" /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_number'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>报关单号:</span>
                        <span class=" class_ span_2"><input type="text" id="bg_nr" name="bg_number" value="{$vo.bg_number}" /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_paper_price'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>纸质价格:</span>
                        <span class=" class_ span_2"><input type="text"  id="bg_bpp" name="bg_paper_price" value="{$vo.bg_paper_price}"/></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_time'] elt 0">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>报关日期:</span>
                        <span class=" class_ span_2"><input type="text"   <if condition="$vo['bg_time'] elt 0">class="date_picker date_1""<else/>class="date_picker date_1 up_1"</if> id="bg_bt" name="bg_time" 
                        <if condition="$vo['bg_time'] neq ''">
                        value="{$vo.bg_time|date="Y-m-d",###}"
                        <else />
                        value=""
                        </if> /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_hdmi_time'] elt 0">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>出绿联时间:</span>
                        <span class=" class_ span_2"><input type="text"  <if condition="$vo['bg_hdmi_time'] elt 0">class="date_picker date_1""<else/>class="date_picker date_1 up_1"</if> id="bg_bht" name="bg_hdmi_time" 
                        <if condition="$vo['bg_hdmi_time'] neq ''">
                        value="{$vo.bg_hdmi_time|date="Y-m-d",###}"
                        <else />
                        value=""
                        </if>/></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_atax_time'] elt 0">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>出税时间:</span>
                        <span class=" class_ span_2"><input type="text"  <if condition="$vo['bg_atax_time'] elt 0">class="date_picker date_1""<else/>class="date_picker date_1 up_1"</if>  id="bg_bat_" name="bg_atax_time" 
                        <if condition="$vo['bg_atax_time'] neq ''">
                        value="{$vo.bg_atax_time|date="Y-m-d",###}"
                        <else />
                        value=""
                        </if>/></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_paytax_time'] elt 0">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>缴税时间:</span>
                        <span class=" class_ span_2"><input type="text"  <if condition="$vo['bg_paytax_time'] elt 0">class="date_picker date_1""<else/>class="date_picker date_1 up_1"</if>  id="bg_bpt" name="bg_paytax_time" 
                        <if condition="$vo['bg_paytax_time'] neq ''">
                        value="{$vo.bg_paytax_time|date="Y-m-d",###}"
                        <else />
                        value=""
                        </if>/></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_party_time'] elt 0">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>放行日期:</span>
                        <span class=" class_ span_2"><input type="text"   <if condition="$vo['bg_party_time'] elt 0">class="date_picker date_1""<else/>class="date_picker date_1 up_1"</if>  id="bg_bpt_" name="bg_party_time" 
                        <if condition="$vo['bg_party_time'] neq ''">
                        value="{$vo.bg_party_time|date="Y-m-d",###}"
                        <else />
                        value=""
                        </if>/></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_receipt_time'] elt 0">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>回执日期:</span>
                        <span class=" class_ span_2"><input type="text"   <if condition="$vo['bg_receipt_time']  elt 0">class="date_picker date_1""<else/>class="date_picker date_1 up_1"</if>  id="bg_srr2" name="bg_receipt_time" 
                        <if condition="$vo['bg_receipt_time'] neq ''">
                        value="{$vo.bg_receipt_time|date="Y-m-d",###}"
                        <else />
                        value=""
                        </if>/></span>
                    </div>
                    <div>
                        <span <if condition="$vo['bg_surveyor_time'] elt 0">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>验货日期:</span>
                        <span class=" class_ span_2"><input type="text"   <if condition="$vo['bg_surveyor_time']  elt 0">class="date_picker date_1""<else/>class="date_picker date_1 up_1"</if>   id="bg_srr_" name="bg_surveyor_time" 
                        <if condition="$vo['bg_surveyor_time'] neq ''">
                        value="{$vo.bg_surveyor_time|date="Y-m-d",###}"
                        <else />
                        value=""
                        </if>/></span>
                    </div>
                    <div>

                        <span class=" class_ span_1">证书列表:</span>
                        <span class=" class_ span_2">
                           <volist name="vo['bj_certificates']" id="vos">
                            <a <if condition="$vos['id'] eq 10">class="checkbox_ wancheng_w"<else/>class="checkbox_"</if> user_id="10">报关委托书<input type="text" value="0" style="display: none;"></a>
                            <a <if condition="$vos['id'] eq 11">class="checkbox_ wancheng_w"<else/>class="checkbox_"</if> user_id="11">关单<input type="text" value="0" style="display: none;"></a>
                            <a <if condition="$vos['id'] eq 12">class="checkbox_ wancheng_w"<else/>class="checkbox_"</if> user_id="12">税单<input type="text" value="0" style="display: none;"></a>
                            
                            </volist>

                        </span>
                        
                    </div>

                    <div>
                        <span class=" class_ span_1">报关状态:</span>
                    <span class=" class_ span_2">
                             
                            <a  <if condition="$vo['bg_status'] eq ('0' or '')">class="this_ wancheng_w"<else/>class="this_"</if>>未完成<input name="bg_status" type="text" style="display:none;"   value="0" /></a>
                            <a  <if condition="$vo['bg_status'] neq ('0' or '')">class="this_ wancheng_w"<else/>class="this_"</if>>完成<input name="bg_status" type="text" style="display:none;"   value="1" /></a>
                            <input class="wancheng_" type="text" value="0"  style="display:none;">
                        </span>

                </li>
                <li class="liyw_4">
                    <textarea placeholder="请在此输入备注信息......" id="bg_remarks" name="bg_remarks" value="{$vo.bg_remarks}">{$vo.bg_remarks}</textarea>
                    <div style="width:202px;text-align:center;margin-top:30px;">
                        <!--  <img src="__IMG__/bcl.jpg" onclick="cc(this)" class="click_" style="cursor: pointer;"> -->
                        <img src="__IMG__/bccg.jpg"  style="display:none;" class="jiazai_1">
                        <!-- <img src="__IMG__/bch.jpg"> -->
                        <img src="__IMG__/bcz11.gif" class="jiazai" style="display:none;">
                    </div>
                </li>
            </ul>
            </volist>
        </div>
<div class="pages">
    {$page}

</div>
    </div>
</div>

<!--日历插件开始-->
<script type="text/javascript" src="__JS__/jquery.date_input.pack.js?v=20160627"></script>
<script type="text/javascript">
    $(function(){
        $('.date_picker').date_input();
    })
</script>

<script type="text/javascript">
$(function(){
    $(".bg_ej .yewu_630_ .liyw_3 div .span_2 a").click(function(){
       var val_= $(this).attr("id");
       $("#in_705").val(val_)
    })
})

$(function(){
    $(".yewu_630_ .liyw_4 textarea").change(function(){

       var id_= $(this).val();

        var this_3=$(this).parent().parent().find(".liyw_2").attr("id");
        var this_4=$(this).parent().parent().attr("id");
       
        var name_=$(this).attr("name")
        var this_=$(this);
        
        $.ajax({
            
            url:"{:U('Home/Business/updg')}",
            data:{"id":this_3,"zhi":id_,"qufen":this_4,"name":name_},
            type:'post',
            beforeSend:function(){
                // $(tt).hide();
                this_.nextAll("div").find(".jiazai").show();
                // $(tt).nextAll(".click_").hide();
            },
            success:function(text){
                
                this_.nextAll("div").find(".jiazai").hide();
                // $("id").val()

                 var json = eval("("+text+")");
                 
                 if(json.code==1){ 
                 var sh = json.data;

                 }else if(json.code==-2){ 
                    layer.msg('不存在', 1, 1);
                  
                 }else if(json.code==-1){
                    layer.msg('服务器不存在', 1, 1);
                 $("#passwords").show();  

                 }
                
                } 
                 
            

        })
    })
    $(".yewu_630_ .liyw_3 div .span_2 a").click(function(){

       var id_= $(this).find("input").val();
       var name_=$(this).find("input").attr("name");
        var this_3=$(this).parent().parent().parent().parent().find(".liyw_2").attr("id");
        var this_4=$(this).parent().parent().parent().parent("").attr("id");
      
        var this_=$(this);
       
        $.ajax({
            
            url:"{:U('Home/Business/updg')}",
            data:{"id":this_3,"name":name_,"zhi":id_,"qufen":this_4},
            type:'post',
            beforeSend:function(){
                // $(tt).hide();
                // $(tt).nextAll(".jiazai").show();
                // $(tt).nextAll(".click_").hide();
                this_.parent().parent().parent().parent().find(".jiazai").show()
            },
            success:function(text){
                  this_.parent().parent().parent().parent().find(".jiazai").hide()
                
                // $("id").val()

                 var json = eval("("+text+")");
                   
                 if(json.code==1){ 
                   
                 

                 }else if(json.code==-2){ 
                    layer.msg('不存在', 1, 1);
                  
                 }else if(json.code==-1){
                    layer.msg('服务器不存在', 1, 1);
                 $("#passwords").show();  

                 }
                
                } 
                 
            

        })
    })
    $(".yewu_630_ li span input").change(function(){
      
        var this_=$(this);
        var this_2=$(this).val();
        var this_3=$(this).parent().parent().parent().parent().find(".liyw_2").attr("id");

        var this_4=$(this).parent().parent().parent().parent().attr("id");

         var this_5=$(this).attr("name");
         var this_=$(this);
         // alert(this_3+"......"+this_2+"......"+this_4+"......"+this_5)
       
 $.ajax({
            
            url:"{:U('Home/Business/updg')}",
            data:{"id":this_3,"zhi":this_2,"qufen":this_4,"name":this_5},
            type:'post',
            beforeSend:function(){
                // $(tt).hide();
                // $(tt).nextAll(".jiazai").show();
                // $(tt).nextAll(".click_").hide();
                this_.parent().parent().parent().nextAll(".liyw_4").find(".jiazai").show();
            },
            success:function(text){
                //   $
                 this_.parent().parent().parent().nextAll(".liyw_4").find(".jiazai").hide();
                // alert(text)
                // $("id").val()

                 var json = eval("("+text+")");
                   
                 if(json.code==1){ 
                   
                 

                 }else if(json.code==-2){ 
                    layer.msg('不存在', 1, 1);
                  
                 }else if(json.code==-1){
                    layer.msg('服务器不存在', 1, 1);
                 $("#passwords").show();  

                 }
                
                } 
                 
            

        })
});
    });

</script>
<!--日历插件结束-->
<!--center结束-->
<!--bottom开始-->
<include file="Public/footer.html" />
<!--bottom结束-->
<script>
    $(function(){


        $(".yewu_630_ .liyw_3 div span .this_").click(function(){

            $(this).parent("span").find(".this_").removeClass("wancheng_w");
            $(this).addClass("wancheng_w");
            var id_=$(this).attr("id")
            $(this).nextAll(".wancheng_").val(id_)

        })
        $(".yewu_630_ .liyw_3 div span .this_1").click(function(){
           
            $(this).nextAll(".val_").val($(this).attr("id"))
            $(this).parent("span").find(".this_1").removeClass("this_1_");
            $(this).addClass("this_1_");
            var val_=$(this).index();

            var id_=$(this).attr("id");
            $(this).nextAll("val_").val(id_);
            if(val_!=0){
                $(this).parent().parent().nextAll(".yamu_").hide();
            }else{
                $(".yamu_").show();
            }
        })
        $(".yewu_630_ .liyw_3 div span .checkbox_").click(function(){



           var val_= $(this).find("input").val();

            if(val_==0){
                $(this).addClass("wancheng_w ");
                $(this).find("input").val("1");

            }else{
                $(this).removeClass("wancheng_w ");
                $(this).find("input").val("0");
            }
        })
        $(".yewu_630_ .liyw_3 div span .this_db").click(function(){



           var val_= $(this).find("input").val();
            if(val_==0){
                $(this).addClass("wancheng_w ");
                $(this).find("input").val("1");

            }else{
                $(this).removeClass("wancheng_w ");
                $(this).find("input").val("0");
            }
        })
        
    });
</script>
<script type="text/javascript">
    function wwc(){

        window.location.href="{:U('Home/Business/bg_1')}";
        }

</script>
<script type="text/javascript">
    function ywc(){

        window.location.href="{:U('Home/Business/bg_2')}";
        }

</script>
</body>
</html>