<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<include file="Public/header.html" />
<style>


</style>
<body style="background-color: #ededed;">
<!--header开始-->
<!--center开始-->
<div class="center_">

    <div class="kehu_628">
        <div class="center_top">
            <a class="maoyi_">搜索结果:</a>
            <span class="span_sousuo">76541</span>
        </div>
        <div class="bg_ej">
            <ul class="yewu_630">
                <li class="liyw_1">贸易公司名称</li>
                <li class="liyw_2">车架号</li>
                <li class="liyw_3">关键事项及时间节点</li>
                <li class="liyw_4">备注信息</li>
            </ul>
            <ul class="yewu_630_">
                <li class="liyw_1">天津宏翰汽车贸易有限公司</li>
                <li class="liyw_2">TX123456789876541</li>
                <li class="liyw_3">
                    <div>
                        <span class=" class_ span_1 ">下证书:</span>
                        <span class=" class_ span_2"><input type="text"  class="date_picker date_1 " /></span>
                    </div>
                    <div>
                        <span class=" class_ span_1 ">车辆整改手续:</span>
                        <span class=" class_ span_2"><input type="text"  class="date_picker date_1" /></span>
                    </div>
                    <div>
                        <span class=" class_ span_1">车辆许口证:</span>
                        <span class=" class_ span_2"><input type="text"  class="date_picker date_1" /></span>
                    </div>
                    <div>
                        <span class=" class_ span_1">回号时间:</span>
                        <span class=" class_ span_2"><input type="text"  class="date_picker date_1" /></span>
                    </div>
                    <div>
                        <span class=" class_ span_1">回号记录:</span>
                        <span class=" class_ span_2"><input type="text"  /></span>
                    </div>
                    <div>
                        <span class=" class_ span_1">输号状态:</span>
                        <span class=" class_ span_2">

                            <a>未完成</a>
                            <a>完成</a>
                        </span>
                    </div>

                </li>
                <li class="liyw_4">
                    <textarea placeholder="请在此输入备注信息......"></textarea>
                </li>
            </ul>





        </div>

    </div>
</div>

<!--日历插件开始-->
<script type="text/javascript" src="styles/js/jquery.date_input.pack.js?v=20160627"></script>
<script type="text/javascript">
    $(function(){
        $('.date_picker').date_input();
    })
</script>
<!--日历插件结束-->
<!--center结束-->
<!--bottom开始-->
<div class="foot">
    <div>
        <p>Copyright@2009-2014Cld,All Rights Reserved</p>
        <p>中利快车版权所有 京ICP备15060121号-1</p>

    </div>
</div>
<!--bottom结束-->
<script>
    $(function(){
        $(".yewu_630_ .liyw_3 div span a").click(function(){

            $(this).parent("span").find("a").removeClass("wancheng_w");
            $(this).addClass("wancheng_w");
        })
    });
</script>
</body>
</html>