<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<include file="Public/header.html" />
<!--header结束-->
<!--center开始-->
<div class="center_">

    <div class="kehu_628">
        <div class="center_top"><a class="maoyi_">搜索结果:</a><span class="span_sousuo">{$cjh}</span></div>
        <div class="bg_ej">
           <div class="div_null">

               <p>抱歉，没有找到与“{$cjh}”相关的信息</p>
           </div>

        </div>

    </div>
</div>
<!--center结束-->
<!--bottom开始-->
<include file="Public/footer.html" />
<!--bottom结束-->
</body>
</html>