<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css?v=20160627" />
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css?v=20160627" />
    <link rel="stylesheet" type="text/css" href="__CSS__/tk.css?v=20160628" />
    <link rel="stylesheet" type="text/css" href="__CSS__/date.css?v=20160627" />
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js?v=20160627"></script>
    <script type="text/javascript" src="__JS__/public.js?v=20160627"></script>
    <script type="text/javascript" src="__JS__/jq.js?v=20160627"></script>
</head>
<body style="background-color: #ededed;" onload="myfun()">
<!--header开始-->
<!--header开始-->
<div class="header_">
    <div class="header_w">
        <div class="header_l">
            <div class="logo_">
                <img src="__IMG__/logo.png"/>
            </div>
            <ul>
                
                <notempty name="infos">
                <li  class="a_7" id="a_7_1">
                    <a class="a_z" id="a_z">业务流程</a>
                    <div class="id_div" style="" id="id_div_1">
                    <foreach name="infos" item="v">
                        <if condition="$v['name'] eq '到单操作'">
                        <a href="{:U('Home/Business/daodan')}">到单操作</a>
                        </if>
                        <if condition="$v['name'] eq '报检操作'">
                        <a href="{:U('Home/Business/baojian')}">报检操作</a>
                        </if>
                        <if condition="$v['name'] eq '报关操作'">
                        <a href="{:U('Home/Business/baoguan')}">报关操作</a>
                        </if>
                        <if condition="$v['name'] eq '约上线操作'">
                        <a href="{:U('Home/Business/ysx')}">约上线操作</a>
                        </if>
                        <if condition="$v['name'] eq '输号操作'">
                        <a href="{:U('Home/Business/shuhao')}">输号操作</a>
                        </if>
                        <if condition="$v['name'] eq '客户代表'">
                        <a href="{:U('Home/Manager/index')}">客户代表</a>
                        </if>
                        <if condition="$v['name'] eq '贸易公司管理'">
                        <a href="{:U('Home/Company/index')}">贸易公司管理</a>
                        </if>
                    </foreach> 
                    </div>
                    
                </li>
                </notempty>
                <notempty name="lists">
                <li  class="a_7" id="a_7" >
                    <a class="a_z">配置管理</a>
                    <div class="id_div" style="" id="id_div">
                    <foreach name="lists" item="vo">
                        <if condition="$vo['name'] eq '权限管理'">
                        <a href="{:U('Home/Role/role')}">权限管理</a>
                        </if>
                        <if condition="$vo['name'] eq '报表统计'">
                        <a href="{:U('Home/Business/index')}">报表统计</a>
                        </if>
                        <if condition="$vo['name'] eq '操作日志'">
                        <a href="{:U('Home/Logs/logs')}">操作日志</a>
                        </if>
                        <if condition="$vo['name'] eq '公司管理'">
                        <a href="{:U('Home/Company/index')}">公司管理</a>
                        </if>
                        <if condition="$vo['name'] eq '贸易公司管理'">
                        <a href="{:U('Home/Manager/mylist')}">贸易公司管理</a>
                        </if>
                    </foreach>
                    </div>

                </li>

                </notempty>
            </ul>
        </div>
        <div class="header_r">
            <form action="{:U('Home/Business/searchs')}" method="post">
                <div class="sousuo_" style="">
                    <input class="in_" value="" type="text" name="search_cjh" id="search_cjh" placeholder="输入车架号后五位">
                    <input class="in_r" value="" type="submit">
                </div>
            </form>
            <div class="div_">
                <div class="tx_1">
                    <div class="tx_">
                        <img src="__IMG__/tx.png" />
                    </div>
                    <div>{$user_name}</div>
                    <div class="hover_">
                        <p class="p_1"><a href="{:U('Home/Index/password')}">个人设置</a></p>
                        <p class="p_2"><a href="{:U('Home/Login/logout')}">退出</a></p>
                    </div>
                </div>
                <script>
                    $(function(){
                        $(".div_ .hover_ p").click(function(){
                            var href_=$(this).find("a").attr("href");
                            window.location.href=href_;
                        })
                    })
                </script>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    function myfun(){
        var d =$("#id_div a").text(); 
        var v =$("#id_div_1 a").text(); 
        if(d=='' || d==null){
            $("#a_7").hide();
        }
        if(v=='' || v==null){
            $("#a_7_1").hide();
        }
    }
</script>
<!--header结束-->
<script>

    $(function(){

        $(".yewu_630_7 .liyw_1 a").hover(function(){
            $(".liyw_1").find(".hover_cs").remove();
            var qufen=$(this).parent().parent("ul").attr("id");
            var id_1= $(this).parent().attr("id");
            var this_t=$(this);
            var wid_=$(this).width()
            t = setTimeout(function(){



                if($(".hover_cs").size()==0){


                    $.ajax({

                        url:"{:U('Home/Business/slshuhao')}",
                        data:{"id":id_1},
                        type:'post',
                        success:function(text){



                            var json = eval("("+text+")");

                            if(json){



                                this_t.append(

                                        '<div class="hover_cs" style="display: block" >'+
                                        '<p class="pp_1">公司基本信息</p>'+
                                        '<p class="pp_2"><a class="aaa_">公司名称: </a><a> '+json.name+'</a></p>'+
                                        '<p class="pp_2"><a class="aaa_">公司法人: </a> <a> '+json.legal_person+'</a></p>'+
                                        '<p class="pp_2"><a class="aaa_">公司管理员: </a> <a> '+json.user_name+'</a></p>'+
                                        ' </div>'

                                )
                                this_t.find(".hover_cs").css("margin-left",wid_+"px");

                            }else{


                                alert("未查到对应的数据");
                            }

                        }



                    })
                }  else{
                    $(this).find(".hover_cs").remove();
                }
                //$(this).find(".hover_cs").show();
            },300);
        },function(){
            clearTimeout(t);
            $(this).find(".hover_cs").hide();
            $(this).find(".hover_cs").remove();
        })

    //11
        $(".yewu_630_7 .liyw_2 a").hover(function(){


            var qufen=$(this).parent().parent("ul").attr("id");

            var id_2= $(this).parent().attr("id");

            var this_t=$(this);
            var wid_=$(this).width()
            t = setTimeout(function(){

                $.ajax({

                    url:"{:U('Home/Business/slshuhaos')}",
                    data:{"id":id_2,"did":qufen},
                    type:'post',
                    success:function(text){



                        var json = eval("("+text+")");

                        if(json){




                            $(".liyw_2").find(".liyw_2_tk").remove();
                            this_t.append(

                                    '<div class="liyw_2_tk" style="display: block;" >'+
                                    '<div class="sanjiao_"></div>'+

                                    '<div class="liyw_2_tk_t">车辆基本信息</div>'+
                                    '<div class="liyw_2_tk_c">'+
                                    '<ul>'+
                                    '<li>'+
                                    '<a class="a_i">品名:</a>'+
                                    '<a>'+json.product_name+'</a>'+
                                    '</li>'+
                                    ' <li>'+
                                    ' <a class="a_i">颜色:</a>'+
                                    ' <a>'+json.color+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">品名:</a>'+
                                    '<a>'+json.product_name+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    ' <a class="a_i">单价:</a>'+
                                    ' <a>'+json.price+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">车架号:</a>'+
                                    '<a>'+json.frame_number+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">座位数</a>'+
                                    ' <a>'+json.number_seats+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    ' <a class="a_i">型号:</a>'+
                                    '<a>'+json.kinds+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    '<a class="a_i">轮毂尺寸:</a>'+
                                    '<a>'+json.size+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">生产日期:</a>'+
                                    '<a>'+json.production_date+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    '<a class="a_i">发动机号:</a>'+
                                    '<a>'+json.engine_number+'</a>'+
                                    ' </li>'+
                                    '</ul>'+
                                    '</div>'+
                                    '<div class="liyw_2_tk_t">车辆配置信息</div>'+
                                    '<div class="liyw_2_tk_p">'+




                                    ' </div>'+
                                    '</div>'
                            )

                            var json2 = json.data;

                            $.each(json2,function(a,t){

                                this_t.find(".liyw_2_tk_p").append(
                                        '<div>'+t.name+'</div>'

                                )

                            })
                            this_t.find(".liyw_2_tk").css("margin-left",wid_+10+"px");
                        }else{


                            alert("未查到对应的数据");
                        }

                    }



                })

                //$(this).find(".hover_cs").show();

            },300);
        },function(){
            clearTimeout(t);

            $(".liyw_2 .liyw_2_tk").remove()


        })
    })



</script>
<!--header开始-->

<!--header结束-->
<!--center开始-->
<div class="center_">

    <div class="kehu_628">
        <div class="center_top"><a class="maoyi_">搜索结果:</a></div>
        <div class="bg_ej">
            <ul class="ul_ej_">
                <li class="lli_1">车架号</li>
                <li class="lli_2">输号</li>
                <li class="lli_3">到单</li>
                <li class="lli_4">报检</li>
                <li class="lli_5">报关</li>
                <li class="lli_6">约上线</li>
                <li class="lli_7">总耗时</li>
            </ul>
            <foreach name="result" item="vo">
            <div class="div_ej">
                <ul class="ull_1">
                
                    <li>{$vo.frame_number}</li>
                
                </ul>
                <ul class="ull_2">

                    <li><a <if condition=" $vo['sh_certificate_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['sh_certificate_time']  neq (''|| 0) ">下证书({$vo.sh_certificate_time|date='m-d',###})<else/>下证书</if></a></li>

                    <li><a <if condition=" $vo['sh_time_return']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['sh_time_return']  neq (''|| 0) ">回号({$vo.sh_time_return|date='m-d',###})<else/>回号</if></a></li>

                </ul>
                <ul class="ull_3">
                    <li><a <if condition=" $vo['dd_arrive_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['dd_arrive_time']  neq (''|| 0) ">到港({$vo.dd_arrive_time|date='m-d',###})<else/>到港</if></a></li>
                    <li><a <if condition=" $vo['dd_change_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['dd_change_time']  neq (''|| 0) ">换do({$vo.dd_change_time|date='m-d',###})<else/>换do</if></a></li>

                </ul>
                <ul class="ull_4">
                    <li><a <if condition=" $vo['bj_issue_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['bj_issue_time']  neq (''|| 0) ">通关单({$vo.bj_issue_time|date='m-d',###})<else/>通关单</if></a></li>
                    <li><a <if condition=" $vo['bj_is_check']  neq (''|| 0) "><else/>class="a_cl"</if>>验木</a></li>

                </ul>
                <ul class="ull_5">
                    <li><a <if condition=" $vo['bg_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['bg_time']  neq (''|| 0) ">申请报关({$vo.bg_time|date='m-d',###})<else/>申请报关</if></a></li>
                    <li><a <if condition=" $vo['bg_atax_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['bg_atax_time']  neq (''|| 0) ">出税({$vo.bg_atax_time|date='m-d',###})<else/>出税</if></a></li>
                    <li><a <if condition=" $vo['bg_hdmi_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['bg_hdmi_time']  neq (''|| 0) ">出绿联({$vo.bg_hdmi_time|date='m-d',###})<else/>出绿联</if></a></li>
                    <li><a <if condition=" $vo['bg_paytax_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['bg_paytax_time']  neq (''|| 0) ">缴税({$vo.bg_paytax_time|date='m-d',###})<else/>缴税</if></a></li>
                    <li><a <if condition=" $vo['bg_party_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['bg_party_time']  neq (''|| 0) ">放行({$vo.bg_party_time|date='m-d',###})<else/>放行</if></a></li>
                    <li><a <if condition=" $vo['bg_surveyor_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['bg_surveyor_time']  neq (''|| 0) ">验货({$vo.bg_surveyor_time|date='m-d',###})<else/>验货</if></a></li>
                    <li><a <if condition=" $vo['bg_sjbk_time']   neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['bg_sjbk_time']   neq (''|| 0) ">随机布控({$vo.bg_sjbk_time|date='m-d',###})<else/>随机布控</if></a></li>
                </ul>
                <ul class="ull_6">
                    <li><a <if condition=" $vo['ysx_vehicle_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['ysx_vehicle_time']  neq (''|| 0) ">验车({$vo.ysx_vehicle_time|date='m-d',###})<else/>验车</if></a></li>
                    <li><a <if condition=" $vo['sh_certificate_time']  neq (''|| 0) "><else/>class="a_cl"</if>><if condition=" $vo['sh_certificate_time']  neq (''|| 0) ">放车({$vo.sh_certificate_time|date='m-d',###})<else/>放车</if></a></li>
                </ul>
                <ul class="ull_7">
                    <li><a class="shijian_1">开始时间({$vo.create_time|date='m-d',###})</a></li>
                    
                    <li><a class="shijian_2">总耗时({$vo.bigtime})</a></li>
                </ul>
            </div>
           </foreach>
            
            
            
        </div>
        <div class="size_">
            {$page}
        </div>
    </div>
</div>
<!--center结束-->
<!--bottom开始-->
<include file="Public/footer.html" />
</div>
<!--bottom结束-->
</body>
</html>