<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css?v=20160627" />
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css?v=20160627" />
    <link rel="stylesheet" type="text/css" href="__CSS__/tk.css?v=20160628" />
    <link rel="stylesheet" type="text/css" href="__CSS__/date.css?v=20160627" />
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js?v=20160627"></script>
    <script type="text/javascript" src="__JS__/public.js?v=20160627"></script>
    <script type="text/javascript" src="__JS__/jq.js?v=20160627"></script>
</head>
<body style="background-color: #ededed;" onload="myfun()">
<!--header开始-->
<div class="header_">
    <div class="header_w">
        <div class="header_l">
            <div class="logo_">
                <img src="__IMG__/logo.png"/>
            </div>
            <ul>
                <!-- <foreach name="lists" item="vo">
                {$vo['name']}
                <li  class="a_0" style="display: none;" id ="{$vo['action'][1]}"><a href="{:U('Home/Company/index')}">{$vo['name']}</a></li>
                </foreach> -->
                <!-- <span>{$vo['name']}</span> -->
                <!--默认颜色的按钮是a_1之a_4 蓝色的是al_1之al_4-->
                
                <notempty name="infos">
                <li  class="a_7" id="a_7_1">
                    <a class="a_z" id="a_z">业务流程</a>
                    <div class="id_div" style="" id="id_div_1">
                    <foreach name="infos" item="v">
                        <if condition="$v['name'] eq '到单操作'">
                        <a href="{:U('Home/Business/daodan')}">到单操作</a>
                        </if>
                        <if condition="$v['name'] eq '报检操作'">
                        <a href="{:U('Home/Business/baojian')}">报检操作</a>
                        </if>
                        <if condition="$v['name'] eq '报关操作'">
                        <a href="{:U('Home/Business/baoguan')}">报关操作</a>
                        </if>
                        <if condition="$v['name'] eq '约上线操作'">
                        <a href="{:U('Home/Business/ysx')}">约上线操作</a>
                        </if>
                        <if condition="$v['name'] eq '输号操作'">
                        <a href="{:U('Home/Business/shuhao')}">输号操作</a>
                        </if>
                        <if condition="$v['name'] eq '客户代表'">
                        <a href="{:U('Home/Manager/index')}">客户代表</a>
                        </if>
                        <if condition="$v['name'] eq '贸易公司管理'">
                        <a href="{:U('Home/Company/index')}">贸易公司管理</a>
                        </if>
                    </foreach> 
                    </div>
                    
                </li>
                </notempty>
                <notempty name="lists">
                <li  class="a_7" id="a_7" >
                    <a class="a_z">配置管理</a>
                    <div class="id_div" style="" id="id_div">
                    <foreach name="lists" item="vo">
                        <if condition="$vo['name'] eq '权限管理'">
                        <a href="__zlc__/Home/Role/select.html?did=4">权限管理</a>
                        </if>
                        <if condition="$vo['name'] eq '报表统计'">
                        <a href="{:U('Home/Business/index')}">报表统计</a>
                        </if>
                        <if condition="$vo['name'] eq '操作日志'">
                        <a href="{:U('Home/Logs/logs')}">操作日志</a>
                        </if>
                        <if condition="$vo['name'] eq '公司管理'">
                        <a href="{:U('Home/Company/index')}">公司管理</a>
                        </if>
                        <if condition="$vo['name'] eq '贸易公司管理'">
                        <a href="{:U('Home/Manager/mylist')}">贸易公司管理</a>
                        </if>
                    </foreach>
                    </div>

                </li>

                </notempty>

            </ul>
        </div>
        <div class="header_r">
            <form action="{:U('Home/Business/baoguan')}" method="post">
                <div class="sousuo_" style="">
                    <input class="in_" value="" type="text" name="search_cjh" id="search_cjh" placeholder="输入车架号后五位">
                    <input value="3" type="hidden" name="stage" id="stage" >
                    <input class="in_r" value="" type="submit">
                </div>
            </form>
            <div class="div_">
                <div class="tx_1">
                    <div class="tx_">
                        <img src="__IMG__/tx.png" />
                    </div>
                    <div>{$user_name}</div>
                    <div class="hover_">
                        <p class="p_1"><a href="{:U('Home/Index/password')}">个人设置</a></p>
                        <p class="p_2"><a href="{:U('Home/Login/logout')}">退出</a></p>
                    </div>
                </div>
                <script>
                    $(function(){
                        $(".div_ .hover_ p").click(function(){
                            var href_=$(this).find("a").attr("href");
                            window.location.href=href_;
                        })
                    })
                </script>
            </div>
        </div>
    </div>

</div>
<!--header结束-->
<script>

    $(function(){

        $(".yewu_630_7 .liyw_1 a").hover(function(){
            $(".liyw_1").find(".hover_cs").remove();
            var qufen=$(this).parent().parent("ul").attr("id");
            var id_1= $(this).parent().attr("id");
            var this_t=$(this);
            var wid_=$(this).width()
            t = setTimeout(function(){



                if($(".hover_cs").size()==0){


                    $.ajax({

                        url:"{:U('Home/Business/slshuhao')}",
                        data:{"id":id_1},
                        type:'post',
                        success:function(text){



                            var json = eval("("+text+")");

                            if(json){



                                this_t.append(

                                        '<div class="hover_cs" style="display: block" >'+
                                        '<p class="pp_1">公司基本信息</p>'+
                                        '<p class="pp_2"><a class="aaa_">公司名称: </a><a> '+json.name+'</a></p>'+
                                        '<p class="pp_2"><a class="aaa_">公司法人: </a> <a> '+json.legal_person+'</a></p>'+
                                        '<p class="pp_2"><a class="aaa_">公司管理员: </a> <a> '+json.user_name+'</a></p>'+
                                        ' </div>'

                                )
                                this_t.find(".hover_cs").css("margin-left",wid_+"px");

                            }else{


                                alert("未查到对应的数据");
                            }

                        }



                    })
                }  else{
                    $(this).find(".hover_cs").remove();
                }
                //$(this).find(".hover_cs").show();
            },300);
        },function(){
            clearTimeout(t);
            $(this).find(".hover_cs").hide();
            $(this).find(".hover_cs").remove();
        })

    //11
        $(".yewu_630_7 .liyw_2 a").hover(function(){


            var qufen=$(this).parent().parent("ul").attr("id");

            var id_2= $(this).parent().attr("id");

            var this_t=$(this);
            var wid_=$(this).width()
            t = setTimeout(function(){

                $.ajax({

                    url:"{:U('Home/Business/slshuhaos')}",
                    data:{"id":id_2,"did":qufen},
                    type:'post',
                    success:function(text){



                        var json = eval("("+text+")");

                        if(json){




                            $(".liyw_2").find(".liyw_2_tk").remove();
                            this_t.append(

                                    '<div class="liyw_2_tk" style="display: block;" >'+
                                    '<div class="sanjiao_"></div>'+

                                    '<div class="liyw_2_tk_t">车辆基本信息</div>'+
                                    '<div class="liyw_2_tk_c">'+
                                    '<ul>'+
                                    '<li>'+
                                    '<a class="a_i">品名:</a>'+
                                    '<a>'+json.product_name+'</a>'+
                                    '</li>'+
                                    ' <li>'+
                                    ' <a class="a_i">颜色:</a>'+
                                    ' <a>'+json.color+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">品名:</a>'+
                                    '<a>'+json.product_name+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    ' <a class="a_i">单价:</a>'+
                                    ' <a>'+json.price+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">车架号:</a>'+
                                    '<a>'+json.frame_number+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">座位数</a>'+
                                    ' <a>'+json.number_seats+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    ' <a class="a_i">型号:</a>'+
                                    '<a>'+json.kinds+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    '<a class="a_i">轮毂尺寸:</a>'+
                                    '<a>'+json.size+'</a>'+
                                    '</li>'+
                                    '<li>'+
                                    '<a class="a_i">生产日期:</a>'+
                                    '<a>'+json.production_date+'</a>'+
                                    ' </li>'+
                                    ' <li>'+
                                    '<a class="a_i">发动机号:</a>'+
                                    '<a>'+json.engine_number+'</a>'+
                                    ' </li>'+
                                    '</ul>'+
                                    '</div>'+
                                    '<div class="liyw_2_tk_t">车辆配置信息</div>'+
                                    '<div class="liyw_2_tk_p">'+




                                    ' </div>'+
                                    '</div>'
                            )

                            var json2 = json.data;

                            $.each(json2,function(a,t){

                                this_t.find(".liyw_2_tk_p").append(
                                        '<div>'+t.name+'</div>'

                                )

                            })
                            this_t.find(".liyw_2_tk").css("margin-left",wid_+10+"px");
                        }else{


                            alert("未查到对应的数据");
                        }

                    }



                })

                //$(this).find(".hover_cs").show();

            },300);
        },function(){
            clearTimeout(t);

            $(".liyw_2 .liyw_2_tk").remove()


        })
    })



</script>

<!--header结束-->
<!--center开始-->
<div class="center_">

    <div class="kehu_628">
        <div class="center_top">
            <a class="maoyi_">已完成工作</a>
            <a class="more_" onclick="ywc()">更多</a>
        </div>
        <div class="bg_ej">
            <ul class="yewu_630">
                <li class="liyw_1">贸易公司名称</li>
                <li class="liyw_2">车架号</li>
                <li class="liyw_3">关键事项及时间节点</li>
                <li class="liyw_4">备注信息</li>
            </ul>
            <foreach name="list" item="vo">
            <ul class="yewu_630_ yewu_630_7" id="qufen_1">
                <li class="liyw_1" id ="{$vo.id}"><a>{$vo.name}</a></li>
                <li class="liyw_2" id ="{$vo.info_id}"><a>{$vo.frame_number}</a></li>
                <li class="liyw_3">
                     <div>
                        <span <if condition="$vo['sh_return_record'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>回号:</span>
                        <span class=" class_ span_2"><input type="text" disabled="disabled" id="ysx_srr" name="sh_return_record" value="{$vo.sh_return_record}" disabled="disabled" /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['ysx_cib'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>报检行:</span>
                        <span class=" class_ span_2"><input type="text" id="ysx_cid" name="ysx_cib" value="{$vo.ysx_cib}" /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['ysx_address'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>库存地址:</span>
                        <span class=" class_ span_2"><input type="text" id="ysx_yas" name="ysx_address" value="{$vo.ysx_address}" class="date_picker date_1" /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['ysx_shipper'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>货主名称:</span>
                        <span class=" class_ span_2"><input type="text" id="ysx_ysr" name="ysx_shipper" value="{$vo.ysx_shipper}"/></span>
                    </div>
                    <div>
                        <span <if condition="$vo['ysx_online_time'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>上线日期:</span>
                        <span class=" class_ span_2"><input type="text" id="ysx_yot" name="ysx_online_time"
                        <if condition="$vo['ysx_online_time'] neq ''">
                        value="{$vo.ysx_online_time|date="Y-m-d",###}" 
                        <else />
                        value= ""
                        </if>
                        class="date_picker date_1" /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['ysx_vehicle_time'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>验车日期:</span>
                        <span class=" class_ span_2"><input type="text" id="ysx_yvt" name="ysx_vehicle_time" 
                        <if condition="$vo['ysx_vehicle_time'] neq ''">
                        value="{$vo.ysx_vehicle_time|date="Y-m-d",###}" 
                        <else />
                        value=""
                        </if>class="date_picker date_1"   /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['ysx_unboxing_time'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>拆箱日期:</span>
                        <span class=" class_ span_2"><input type="text" id="ysx_yut" name="ysx_unboxing_time" 
                        <if condition="$vo['ysx_unboxing_time'] neq ''">
                        value="{$vo.ysx_unboxing_time|date="Y-m-d",###}" 
                        <else />
                        value=""
                        </if> class="date_picker date_1" /></span>
                    </div>
                    <div>
                        <span <if condition="$vo['ysx_backed_time'] eq ('0' or '')">class="class_ span_1"<else/>class=" class_ span_1 span_1_"</if>>回库日期:</span>
                        <span class=" class_ span_2"><input type="text"  id="ysx_ybt" name="ysx_backed_time" 
                        <if condition="$vo['ysx_backed_time'] neq ''">
                        value="{$vo.ysx_backed_time|date="Y-m-d",###}" 
                        <else />
                        value=""
                        </if> class="date_picker date_1"  /></span>
                    </div>

                    <div>
                        <span class=" class_ span_1" id="ysx_status" name="ysx_status" value="{$vo.ysx_status}" >约上线状态:</span>
                        <span class=" class_ span_2">

                     <a id="0" <if condition="$vo['ysx_status'] eq '0'">class="wancheng_c wancheng_c_"<else/>class="wancheng_c"</if>>未完成<input type="text" style="                               display:none;" value="0" />   </a>
                            
                            <a id="1" <if condition="$vo['ysx_status'] eq '1'">class="wancheng_c wancheng_c_"<else/>class="wancheng_c"</if>>完成 <input type="text" style="display:none;"  value="1"/></a>        
                            
                            
                             <input id="size_11" value="{$vo['ysx_status']}" style="display:none;">
                        </span>
                    </div>
                    <div>
                        <span class=" class_ span_1 span_1_">完成时间:</span>
                        <span class=" class_ span_2">

                        {$vo['ysx_ok_time']|date="Y-m-d",###}
                        </span>
                    </div>
                </li>
                <li class="liyw_4">
                    <textarea placeholder="请在此输入备注信息......" id="bg_rs" name="ysx_remarks" value="{$vo.ysx_remarks}">{$vo.ysx_remarks}</textarea>
                     <div style="width:202px;text-align:center;margin-top:30px;">
                        <!--  <img src="__IMG__/bcl.jpg" onclick="cc(this)" class="click_" style="cursor: pointer;"> -->
                        <img src="__IMG__/bccg.jpg"  style="display:none;" class="jiazai_1">
                        <!-- <img src="__IMG__/bch.jpg"> -->
                        <img src="__IMG__/bcz11.gif" class="jiazai" style="display:none;">
                    </div>
            </ul>
        </foreach>
        </div>
<div class="pages">
    {$page}

</div>
    </div>
</div>
<!--日历插件开始-->
<script type="text/javascript" src="__JS__/jquery.date_input.pack.js?v=20160627"></script>
<script type="text/javascript">
    $(function(){
        $('.date_picker').date_input();
    })
</script>
<script type="text/javascript">
$(function(){
    $(".bg_ej .yewu_630_ .liyw_3 div .span_2 a").click(function(){
       var val_= $(this).attr("id");
       $("#in_705").val(val_)
    })
})

$(function(){
    $(".yewu_630_ .liyw_4 textarea").change(function(){

       var id_= $(this).val();

        var this_3=$(this).parent().parent().find(".liyw_2").attr("id");
        var this_4=$(this).parent().parent().attr("id");

        var name_=$(this).attr("name");
        var this_=$(this);
        
        $.ajax({
            
            url:"{:U('Home/Business/update_ysx')}",
            data:{"id":this_3,"zhi":id_,"qufen":this_4,"name":name_},
            type:'post',
            beforeSend:function(){
                // $(tt).hide();
                this_.nextAll("div").find(".jiazai").show();
                // $(tt).nextAll(".click_").hide();
            },
            success:function(text){
                
                this_.nextAll("div").find(".jiazai").hide();
                // $("id").val()

                 var json = eval("("+text+")");
                 
                 if(json.code==1){ 
                 var sh = json.data;

                 }else if(json.code==-2){ 
                    layer.msg('不存在', 1, 1);
                  
                 }else if(json.code==-1){
                    layer.msg('服务器不存在', 1, 1);
                 $("#passwords").show();  

                 }
                
                } 
                 
            

        })
    })
    $(".yewu_630_ .liyw_3 div .span_2 a").click(function(){

       var id_= $(this).find("input").val();
       var name_=$(this).find("input").attr("name");
        var this_3=$(this).parent().parent().parent().parent().find(".liyw_2").attr("id");
        var this_4=$(this).parent().parent().parent().parent("").attr("id");
      
        var this_=$(this);
       
        $.ajax({
            
            url:"{:U('Home/Business/update_ysx')}",
            data:{"id":this_3,"name":name_,"zhi":id_,"qufen":this_4},
            type:'post',
            beforeSend:function(){
                // $(tt).hide();
                // $(tt).nextAll(".jiazai").show();
                // $(tt).nextAll(".click_").hide();
                this_.parent().parent().parent().parent().find(".jiazai").show()
            },
            success:function(text){
                  this_.parent().parent().parent().parent().find(".jiazai").hide()
                
                // $("id").val()

                 var json = eval("("+text+")");
                   
                 if(json.code==1){ 
                   
                 

                 }else if(json.code==-2){ 
                    layer.msg('不存在', 1, 1);
                  
                 }else if(json.code==-1){
                    layer.msg('服务器不存在', 1, 1);
                 $("#passwords").show();  

                 }
                
                } 
                 
            

        })
    })
    $(".yewu_630_ li span input").change(function(){
      
        var this_=$(this);
        var this_2=$(this).val();
        var this_3=$(this).parent().parent().parent().parent().find(".liyw_2").attr("id");

        var this_4=$(this).parent().parent().parent().parent().attr("id");

         var this_5=$(this).attr("name");
         var this_=$(this);
         // alert(this_3+"......"+this_2+"......"+this_4+"......"+this_5)
       
 $.ajax({
            
            url:"{:U('Home/Business/update_ysx')}",
            data:{"id":this_3,"zhi":this_2,"qufen":this_4,"name":this_5},
            type:'post',
            beforeSend:function(){
                // $(tt).hide();
                // $(tt).nextAll(".jiazai").show();
                // $(tt).nextAll(".click_").hide();
                this_.parent().parent().parent().nextAll(".liyw_4").find(".jiazai").show();
            },
            success:function(text){
                //   $
                 this_.parent().parent().parent().nextAll(".liyw_4").find(".jiazai").hide();
                // alert(text)
                // $("id").val()

                 var json = eval("("+text+")");
                 if(json.code==1){ 
                   
                 

                 }else if(json.code==-2){ 
                    layer.msg('不存在', 1, 1);
                  
                 }else if(json.code==-1){
                    layer.msg('服务器不存在', 1, 1);
                 $("#passwords").show();  

                 }
                
                } 
                 
            

        })
});
    });

</script>
<!--日历插件结束-->
<!--center结束-->
<!--bottom开始-->
<include file="Public/footer.html" />
<script type="text/javascript">
$(function(){
    $(".bg_ej .yewu_630_ .liyw_3 div .span_2 a").click(function(){
       var val_= $(this).attr("id");
       $("#in_705").val(val_)
    })
})
    function cc(ul_id,tt){

        var id_1=$(tt).parent().parent().parent().find("#ysx_srr").val()//sh_return_record 
        var id_2=$(tt).parent().parent().parent().find("#ysx_cid").val()//ysx_cib 
        var id_3=$(tt).parent().parent().parent().find("#ysx_yas").val()//ysx_address
        var id_4=$(tt).parent().parent().parent().find("#ysx_ysr").val()//ysx_shipper
        var id_5=$(tt).parent().parent().parent().find("#ysx_yot").val()//ysx_online_time
        var id_6=$(tt).parent().parent().parent().find("#ysx_yvt").val()//ysx_vehicle_time:
        var id_7=$(tt).parent().parent().parent().find("#ysx_yut").val()//ysx_unboxing_time:
        var id_8=$(tt).parent().parent().parent().find("#ysx_ybt").val()//ysx_backed_time:  
        var id_9=$(tt).parent().parent().parent().find("#size_11").val()//ysx_status:
        var id_11=$(tt).parent().parent().parent().find("#bg_rs").val()//ysx_status:         
        var id_10=$(tt).parent().parent().parent().attr("id")//已完成 未完成id:         
        
        
         


    $.ajax({
            
            url:"{:U('Home/Business/update_ysx')}",
            data:{"id":ul_id,"sh_return_record":id_1,"ysx_cib":id_2,"ysx_address":id_3,"ysx_shipper":id_4,"ysx_online_time":id_5,"ysx_vehicle_time":id_6,"ysx_unboxing_time":id_7,"ysx_backed_time":id_8,"ysx_status":id_9,"qufen":id_10,"ysx_remarks":id_11},
            type:'post',
            beforeSend:function(){
                $(tt).hide();
                $(tt).nextAll(".jiazai").show();
                $(tt).nextAll(".click_").hide();
            },
            success:function(text){
                  $(tt).nextAll(".jiazai").hide();
                  $(tt).nextAll(".jiazai_1").show();
                
                // $("id").val()

                 var json = eval("("+text+")");
                   
                 if(json.code==1){ 
                   
                 window.location.href="{:U('Home/Business/ysx')}";

                 }else if(json.code==-2){ 
                    layer.msg('不存在', 1, 1);
                  
                 }else if(json.code==-1){
                    layer.msg('服务器不存在', 1, 1);
                 $("#passwords").show();  

                 }
                
                } 
                 
            

        })

}
</script>
<!--bottom结束-->
<script>
    $(function(){
        $(".yewu_630_ .liyw_3 div span .this_").click(function(){

            $(this).parent("span").find("a").removeClass("wancheng_w");
            $(this).addClass("wancheng_w");
            var this_=$(this).attr("id");
            $(this).nextAll("#size_11").val(this_)
        })
        $(".yewu_630_ .liyw_3 div span .this_1").click(function(){

            $(this).parent("span").find("a").removeClass("this_1_");
            $(this).addClass("this_1_");
            var val_=$(this).index();

            if(val_!=0){
                $(this).parent().parent().nextAll(".yamu_").hide();
            }else{
                $(".yamu_").show();
            }
        })
        $(".yewu_630_ .liyw_3 div span .checkbox_").click(function(){



           var val_= $(this).find("input").val();
            if(val_==0){
                $(this).addClass("wancheng_w ");
                $(this).find("input").val("1");

            }else{
                $(this).removeClass("wancheng_w ");
                $(this).find("input").val("0");
            }
        })
    });
</script>
<script type="text/javascript">
    function wwc(){

        window.location.href="{:U('Home/Business/ysx_1')}";
        }

</script>
<script type="text/javascript">
    function ywc(){

        window.location.href="{:U('Home/Business/ysx_2')}";
        }

</script>
</body>
</html>