<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<include file="Public/header.html" />

<body style="background-color: #ededed;">
<!--header开始-->

<!--header结束-->
<!--center开始-->
<div class="center_">

    <div class="kehu_628">
        <div class="center_top"><a class="maoyi_">增加报关信息</a></div>
        <!--贸易公司信息-->
        <div class="bghzj_629">
            <div class="div_h">贸易公司信息</div>
            <div class="div_c">
                <div class="div_select">
                    <div class="pp_span">*选择贸易公司</div>
                    <div class="bt_in">
                        <div class="select_">
                            <div class="select_l" >请选择</div>
                            <div class="select_r"></div>
                            <input value="0" id="input_" type="text">
                        </div>
                        
                        <div class="click_">
                        <foreach name="list"  item="vo">
                            <div id="{$vo.id}"><input type="hidden"  name="trade_id"  value="{$vo.id}"/>{$vo.name}</div>
                        </foreach>   
                        </div>
                        
                    </div>
                    <div class="hover_div"><a href="{:U('Home/Manager/add')}"><img src="__IMG__/xiaojia.png" /></a></div>
                </div>
            </div>
        </div>
        <!--车辆基本信息-->
        <div class="bghzj_629">
            <div class="div_h">车辆基本信息</div>
            <div class="div_c">
               <div class="from_div">
                    <div class="from_div">
                        <span class="span_"><a>*****11</a>品名</span>
                        <span class="span_2"><input type="" name="product_name" id="product_name"  onkeyup="keyup_(this)"></span>
                    </div>
                    <div class="from_div">
                       <span class="span_"><a>*</a>颜色</span>
                       <span class="span_2"><input type="" name="color" id="color" onkeyup="keyup_(this)"></span>
                   </div>
                   <div class="from_div">
                       <span class="span_"><a>*</a>单价</span>
                       <span class="span_2"><input type="" name="price" id="price" onkeyup="keyup_(this)"></span>
                   </div>
                   <div class="from_div">
                       <span class="span_"><a>*</a>车架号</span>
                       <span class="span_2"><input type="" name="frame_number" id="frame_number" onkeyup="keyup_(this)"></span>
                   </div>
                   <div class="from_div">
                       <span class="span_"><a>*</a>座位数</span>
                       <span class="span_2"><input type="" name="number_seats" id="number_seats" onkeyup="keyup_(this)"></span>
                   </div>
                    <div class="from_div">
                       <span class="span_"><a>*</a>轮毂尺寸</span>
                       <span class="span_2"><input type="" name="size" id="size" onkeyup="keyup_(this)"></span>
                   </div>
                   <div class="from_div">
                       <span class="span_"><a>*</a>生产日期</span>
                       <span class="span_2">
                           <input type="text" class="date_picker" name="production_date" id="production_date" onkeyup="keyup_(this)" onchange="change_(this)">

                       </span>

                   </div>
                   <div class="from_div">
                       <span class="span_"><a>*</a>发动机号</span>
                       <span class="span_2"><input type="" name="engine_number" id="engine_number"  onkeyup="keyup_(this)"></span>
                   </div>
                   
                   <div class="from_div">
                       <span class="span_">产地:</span>
                       <span class="span_2"><input type="" name="producer" id="producer"></span>
                   </div>
                   
                   <div class="from_div">
                       <span class="span_">品牌:</span>
                       <span class="span_2"><input type="" name="brand" id="brand"></span>
                   </div>
                   
                   <div class="from_div">
                       <span class="span_">级别:</span>
                       <span class="span_2"><input type="" name="level" id="level"></span>
                   </div>
                   
                   <div class="from_div">
                       <span class="span_">型号:</span>
                       <span class="span_2"><input type="" name="kinds" id="kinds"></span>
                   </div>
                  
               </div>

            </div>
        </div>

        <!--车辆配置信息-->
        <div class="bghzj_629">
            <div class="div_h">车辆配置信息</div>
            <div class="div_c">
                <div class="jiben_xx">
                    <div class="zengjia_ class_gg">
                        <input type="hidde" placeholder="如: 胎压检测系统" maxlength="10" name"configure[]" id="configure"/>
                        <button type="button" onclick="click_(this)">增 加</button>
                    </div>
                    <!-- <div class="class_gg div_class" onmouseout="hover_1(this)" onmouseover="hover_2(this)">

                        <div class="u_629"> </div>
                        <div class="delect_">
                            <img src="__IMG__/sc.png" onclick="hover_3(this)">
                        </div>
                    </div> -->

                </div>
                <div class="jiben_foot">
                    <input type="button" onclick="submit()" value="保存提交"/>
                </div>
            </div>
        </div>
    </div>
</div>
<input value=" " type="text" style="display:none;" id="input_704">
<script type="text/javascript" charset="utf-8">
  function change_(tt){
      var value = $.trim($(tt).val());
      if($(tt).val()!=="" && value!==""){
          $(tt).css("border","1px solid #e3e3e3");
      };
  }
  function keyup_(tt){
      var value = $.trim($(tt).val());
      
      if($(tt).val()!=="" && value!==""){
          $(tt).css("border","1px solid #e3e3e3");
      };
  }
  $(function(){
      

      /**判断必填是否为空开始**/
      $(".jiben_foot").click(function(){
          $(".from_div .from_div a").each(function(){
              var val_=$(this).parent().next("span").find("input").val();
              var value = $.trim(val_);
              if(val_=="" || value==""){
                  $(this).parent().next("span").find("input").css("border","1px solid #ff3c00");
              }
          })
      })
      /**判断必填是否为空结束**/
      $('.date_picker').date_input();
  })
  function submit(){
      var text_=$(".select_l").attr("id");
      var tai_=$("#input_704").val();
          

      $.ajax({
          url:"{:U('Home/Manager/inserts')}",
          data:{"trade_id":$("#trade_id").val(),"product_name":$("#product_name").val(), "producer":$("#producer").val(),"color":$("#color").val(),"brand":$("#brand").val(),"price":$("#price").val(),"frame_number":$("#frame_number").val(),"level":$("#level").val(),"number_seats":$("#number_seats").val(),"kinds":$("#kinds").val(),"size":$("#size").val(),"production_date":$("#production_date").val(),"engine_number":$("#engine_number").val(),"configure":$("#configure").val(),"trade_id":text_,"configure":tai_},
            type:'post',
          success:function(text){
              var json = eval("("+text+")");
                 
              if(json.code==1){ 
                  window.location.href="{:U('Home/Manager/index')}";
              }else if(json.code==-1){ 
                  alert("未查到对应的数据");   
              }
                 
          } 
      })
    
  }
</script>

<!--center结束-->
<!--bottom开始-->
<include file="Public/footer.html" />
<!--bottom结束-->
<script type="text/javascript" src="styles/js/jquery.date_input.pack.js?v=20160627"></script>
<script type="text/javascript">
    $(function(){
        $('.date_picker').date_input();
    })
</script>
</body>
</html>