<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<include file="Public/header.html" />
<style>


</style>
<body style="background-color: #ededed;" onload="myfun()">
<!--header开始-->

<!--header结束-->
<!--center开始-->
<div class="center_">
    <div class="center_g center_l">
        <div class="center_top"><a class="a_quanxian">权限管理</a></div>
        <p class="p_hover"><a class="a_3">角色管理</a></p>

    </div>
    <div class="center_g center_r">
        <div class="center_top"><a>角色管理</a></div>
        <div class="center_c">
            <div class="juese_">
                <ul class="ul_1">
                    <foreach name="role"  item="vo">

                    <li  id="re_{$vo.id}" onclick="aa({$vo.id})">{$vo.name}</li>
                    </foreach>
                </ul>

                <ul class="ul_2 ul_tid">
                    <li class="bag_1" id="bag_1_"><a>主要业务<input type="text" value="1" style="display: none;"></a></li>
                    <foreach name="pers"  item="vo">
                    <!--<li class="li_"><a class="xuanze_">{$vo.name}<input type="text" value="0" style="display: none;"></a></li>-->
                    <li class="li_" id="ll_{$vo.id}">
					<a id="{$vo.id}" <if condition="$vo['is_have'] neq 0"> class="xuanze_" <else/></if>>{$vo.name}<input type="text" value="{$vo['is_have']}" style="display: none;"><span style="display: none;">{$vo['is_have']}</span></a>
					</li>
                    </foreach>
                </ul>
                <ul class="ul_2 ul_tid">
                    
                    <li class="bag_1" id="bag_1_2"><a>其它业务<input type="text" value="0" style="display: none;"></a></li>
                    <foreach name="list"  item="vo">
                    <!--<li class="li_"><a class="xuanze_">{$vo.name}<input type="text" value="0" style="display: none;"></a></li>-->
                    <li  class="li_" id="dd_{$vo.id}">
					<a id="{$vo.id}" <if condition="$vo['is_have'] neq 0"> class="xuanze_" <else/></if>>{$vo.name}<input type="text" value="{$vo['is_have']}" style="display: none;"> <span style="display: none;">{$vo['is_have']}</span></a>
					</li>
                   </foreach>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<input type="text" value="" id="inpout_705" style="display:none;">
<a id="true_pd1" text="text" style="display:none;"></a>
<a id="true_pd2" text="text" style="display:none;"></a>
<input type="text" value="" id="inpout_2" style="display:none;">
<input value="" id="input_eq" style="display:none;">
<script type="text/javascript">
     $(function(){
                        var _val='';
                        $(".ul_2 .li_").click(function(){
                           var id= $(this).find("a").attr("id");
                            _val+=_val!=""?",":"";
                            var aaa=_val+=id;
                            $("#inpout_").val(aaa)
                        })
                    })   
</script>

                   
<script type="text/javascript">
$(function(){
    $(".ul_tid li").click(function(){
        var val_1="";
        var val_=$("#input_eq").val();
        var id_=$(this).find("a").attr("id");
        // $("#input_eq").val(val_+=id_+",");
        // alert(val_+=id_+",")
    })
    var url = window.location.href;
         var loc = url.substring(url.lastIndexOf('=')+1, url.length);
         $("#re_"+loc).addClass("bag_1");
         $("#inpout_705").val(loc)
         
})
        function aa(id){

                var _val='';
                var _val2='';
                var tea_=$(this).text();
                $(".li_ input").each(function(){
                    var val=$(this).val();
                    var va1l=$(this).next("span").text();
                    _val+=_val!=""?"_":"";
                    _val2+=_val2!=""?"_":"";
                    var a_id= _val+=val;
                    var a_id2= _val2+=va1l;
                    $("#true_pd1").text(a_id)
                    $("#true_pd2").text(a_id2)
                })
                if( $("#true_pd1").text()!=$("#true_pd2").text()){
                    $(".tmc_1").show();

                    $(".tk_1").show();
                }else{
                    window.location.href="{:U('Home/Role/select')}?did="+id;
                };


        }

</script>
<script type="text/javascript">

    function cc(){
        var _val='';
        $(".xuanze_").each(function(){
            _val+=_val!=""?",":"";
            var id=$(this).attr("id")
           var a_id= _val+=id;
           $("#inpout_2").val(a_id)
        })
        var id_1=$("#inpout_705").val()
        var id_2=$("#inpout_2").val()
		$.ajax({
					
					url:"{:U('Home/Role/update')}",
					data:{"role_id":id_1,"pre_id":id_2},
					type:'post',
					success:function(text){
					   
						
						// $("id").val()

						 var json = eval("("+text+")");
					   
						 if(json.code==1){ 
						   
						 window.location.href="{:U('Home/Role/select')}?did="+id_1;

						 }else if(json.code==-2){ 
							layer.msg('不存在', 1, 1);
						  
						 }else if(json.code==-1){
							layer.msg('服务器不存在', 1, 1);
						 $("#passwords").show();  

						 }
						
						} 
			})
	}
	//对于取消操作，重载页面，避免总是出现是否保存的对话框
	function qx(){


        window.location.href=window.location.href;
	}
</script>
<!--center结束-->
<!--bottom开始-->
<include file="Public/footer.html" />
</div>
<script type="text/javascript">
$(function(){
   var val_1=$(".juese_ .ul_2 .xuanze_").size()
    $("#size_11").val(val_1);
    $("#size_22").val(val_1);
})
    
</script>
<input id="size_11" value=" " style="display:none;">
<input id="size_22" value=" " style="display:none;">
<!--bottom结束-->
<div class="tmc_1"></div>
<div class="tk_1">
    <div class="xtts_">系统提示</div>
    <div class="xtts_1">内容已修改是否改动?</div>
    <div class="xtts_2">
        <input type="button" id="delet" value="保存" onclick="cc()" class="queren_">
        <input type="button" value="取消" class="quxiao_" onclick="qx()" >
    </div>
</div>

</body>
</html>