<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="{:U('Ceshi/b')}" enctype="multipart/form-data">
	<!-- <input type="checkbox" id="photo" name="photo[]" value="1">1
	<input type="checkbox" id="photo" name="photo[]" value="2">2
	<input type="checkbox" id="photo" name="photo[]" value="3">3 -->

	<input type="file" id="photo" name="photo[]" value="">
	<input type="file" id="photo" name="photo[]" value="">
	<input type="file" id="photo" name="photo[]" value="">
	<input type="submit" value="上传111">
</form>
</body>
</html>