<!DOCTYPE html>
<script type="text/javascript" src="__JS__/jquery-1.8.1.min.js"></script>
<html>
<head>
	<title></title>
</head>
<body>

<div id="key_T402">
<a href="javascript:void(0);"><img src="{:U('Ceshi/verify',array())}"></a>
</div>
</body>
</html>
<script type="text/javascript">
	var captcha_img = $('#key_T402').find('img')  
	var verifyimg = captcha_img.attr("src");  
	captcha_img.attr('title', '点击刷新');  
	captcha_img.click(function(){  
		if( verifyimg.indexOf('?')>0){  
			$(this).attr("src", verifyimg+'&random='+Math.random());  
		}else{  
			$(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
		}  
	}); 
</script>
