<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<include file="Public/header.html" />
<style>


</style>
<body style="background-color: #ededed;" onload="myfun()">
<!--header开始-->

<!--header结束-->
<!--center开始-->
<div class="center_">
    <include file="Public/left.html" />
    <div class="center_g center_r">
        <div class="center_top"><a>增加员工</a></div>
        <div class="center_c">
            <div class="from_">
                <div class="tex_">
                    <p class="bt_">姓名</p>
                    <p class="bt_in">
                        <input type="text" id="user_name" name="user_name" />
                    </p>
                </div>
                <div class="tex_">
                    <p class="bt_">电话</p>
                    <p class="bt_in">
                        <input type="text" id="mobile" name="mobile"/>
                    </p>
                </div>
                <div class="tex_">
                    <p class="bt_">登入密码</p>
                    <p class="bt_in">
                        <input type="text" id="password" name="password"/>
                    </p>
                </div>
                <div class="tex_">
                    <p class="bt_">所选角色</p>
                    <div class="bt_in">
                        <div class="select_">
                            
                            <div class="select_l">请选择</div> 
                            <div class="select_r"></div>
                            <input value="0" id="input_" type="text">
                        </div>
                        <div class="click_">
                          <foreach name="list"  item="vo">
                            <div id="{$vo.id}" ><input type="hidden"  name="cb_id" value="{$vo.id}" /> {$vo.name}</div>
                          </foreach>
                        </div>
                    </div>
                </div>
                <div class="tex_">
                    <p class="bt_"></p>
                    <p class="bt_in">
                        <input type="submit" class="submit_" onclick="submit()" value="保存" />
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

function submit(){
            var text_=$(".select_l").attr("id");
             $.ajax({
           
            url:"{:U('Home/Company/insert')}",
            data:{"user_name":$("#user_name").val(),"mobile":$("#mobile").val(), "password":$("#password").val(), "role":text_},
            type:'post',
            success:function(text){
                 

                
                 var json = eval("("+text+")");
                 
                 if(json.code==1){ 

                 window.location.href="{:U('Home/Company/index')}";

                 }else if(json.code==-1){ 


                 alert("未查到对应的数据");   
                 }
                 
                } 
                 
            

        })
    
  
    
   }
</script>
<!--center结束-->
<!--bottom开始-->
<include file="Public/footer.html" />
<!--bottom结束-->
</body>
</html>